.header {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 8px;
    z-index: 2;
    width: auto;
    /* border-left: 1px solid white; */
    /* border-bottom: 1px solid white;
    border-bottom-left-radius: 13px; */
}

.font
{
    font-size: 44px;
    color: white;
}
