<div #matterContainer class="matter-container"></div>

<div nz-row class="content">
    <div class="h-100" nzJustify="center" nz-col [nzXs]="24" [nzSm]="24" [nzMd]="11" nz-flex nzVertical>
        <div nz-flex nzVertical>
            <span><span class="h font-fam">{{firstName}}</span><span
                    class="h primary-color font-fam">{{lastName}}</span></span>
            <span class="sh font-italic">{{appUser.occupationName}}</span>
            <span class="description text-justify">{{appUser.displayDescription}}</span>
        </div>
    </div>

    <div nz-col [nzOffset]="4" [nzXs]="0" [nzSm]="0" [nzMd]="8">
        <div class="h-100" nz-flex nzAlign="center" nzJustify="center" nzVertical>
            <img class="img-fluid" src="images/tech-tree.png">
            <div class="mt-3" nz-flex nzGap="small" nzWrap="wrap">
                <nz-tag *ngFor="let t of techs" [nzColor]="t.color">{{t.tech.title}}</nz-tag>
            </div>
        </div>
    </div>

    <div class="projects-btn pointer-event-all">
        <button (click)="scrollTo100vh()" class="btn btn-large primary-bg-color text-white">
            Projects
            <span nz-icon nzType="arrow-down"></span>
        </button>
    </div>
</div>