<div nz-flex nzAlign="center" nzJustify="center"><span class="h1 primary-color">CONTACT US</span></div>
<nz-divider></nz-divider>
<div nz-row>
    <div nz-col [nzMd]="11">
        <div class="h-100" nz-flex nzJustify="center">
            <img class="img-fluid" src="images/contact-me.svg">
        </div>
    </div>
    <div nz-col [nzSm]="24" [nzXs]="24" [nzMd]="13" class="contact-form">
        <form class="mt-5" nz-form>
            <nz-form-item nz-row>
                <nz-form-label nz-col nzLabelAlign="left" nzSpan="4" nzRequired>Email</nz-form-label>
                <nz-form-control nz-col nzSpan="20">
                    <input nz-col nz-input />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-row>
                <nz-form-label nz-col nzLabelAlign="left" nzSpan="4" nzRequired>Subject</nz-form-label>
                <nz-form-control nz-col nzSpan="20">
                    <input nz-col nz-input />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-row>
                <nz-form-label nz-col nzLabelAlign="left" nzSpan="4" nzRequired>Body</nz-form-label>
                <nz-form-control nz-col nzSpan="20">
                    <textarea nz-col nz-input [nzAutosize]="{ minRows: 10, maxRows: 10}"></textarea>
                </nz-form-control>
            </nz-form-item>
            <div nz-row nzJustify="end"><button nz-button nzType="primary">Send</button></div>
        </form>
    </div>
</div>