<a [href]="socials?.gmail" target="_blank">
    <span class="icon-color" nz-icon [ngClass]="class" nzType="mail" nzTheme="outline"></span>
</a>
<a [href]="socials?.linkedIn" target="_blank">
    <span class="icon-color" nz-icon [ngClass]="class" nzType="linkedin" nzTheme="outline"></span>
</a>
<a [href]="socials?.location" target="_blank">
    <span class="icon-color" nz-icon [ngClass]="class" nzType="environment" nzTheme="outline"></span>
</a>
<a [href]="socials?.phoneNo" target="_blank">
    <span class="icon-color" [ngClass]="class" nz-icon nzType="phone" nzTheme="outline"></span>
</a>