<a [href]="gmail" target="_blank">
    <span class="icon-color" [ngStyle]="ngStyle" nz-tooltip nzTooltipTitle="Gmail" nz-icon nzType="mail" nzTheme="outline"></span>
</a>
<a [href]="linkedIn" target="_blank">
    <span class="icon-color" [ngStyle]="ngStyle" nz-tooltip nzTooltipTitle="LinkedIn" nz-icon nzType="linkedin" nzTheme="outline"></span>
</a>
<a [href]="location" target="_blank">
    <span class="icon-color" [ngStyle]="ngStyle" nz-tooltip nzTooltipTitle="Location" nz-icon nzType="environment" nzTheme="outline"></span>
</a>
<a [href]="github" target="_blank">
    <span class="icon-color" [ngStyle]="ngStyle" nz-tooltip nzTooltipTitle="GitHub" nz-icon nzType="github" nzTheme="outline"></span>
</a>