<a [href]="gmail" target="_blank">
    <span class="icon-color" nz-tooltip nzTooltipTitle="Gmail" nz-icon [ngClass]="class" nzType="mail" nzTheme="outline"></span>
</a>
<a [href]="linkedIn" target="_blank">
    <span class="icon-color" nz-tooltip nzTooltipTitle="LinkedIn" nz-icon [ngClass]="class" nzType="linkedin" nzTheme="outline"></span>
</a>
<a [href]="location" target="_blank">
    <span class="icon-color" nz-tooltip nzTooltipTitle="Location" nz-icon [ngClass]="class" nzType="environment" nzTheme="outline"></span>
</a>
<a [href]="github" target="_blank">
    <span class="icon-color" nz-tooltip nzTooltipTitle="GitHub" [ngClass]="class" nz-icon nzType="github" nzTheme="outline"></span>
</a>